* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.float-left {
  float: left;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

nav {
  text-transform: uppercase;
}

.button {
  padding: 5px 5px;
  border: 1px solid white;
  border-radius: 3px;
}

header {
  width: 100%;
  height: 550px;
  background-color: rgb(40, 93, 210);
  background-image: url("../img/background-header.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% bottom;
}

.container {
  width: 80%;
  margin: auto;
  position: relative;
}

.header-nav {
  width: 100%;
  height: 80px;
  line-height: 80px;
}

.jumbotron {
  width: 100%;
  height: 470px;
  /* background-color: green; */
}

.logo {
  width: 15%;
  height: 100%;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  margin-top:15px;
}

.menu {
  width: 55%;
  height: 100%;
}

.menu nav ul li {
  display: inline-block;
}

.login {
  width: 30%;
  height: 100%;
}

.login nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 13px;
  padding: 0 13px;
  text-decoration: none;
  color: white;
}

.info-box {
  width: 50%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0%;
}

.info-box h2 {
  margin-bottom: 30px;
  font-size: 50px;
  color: white;
}

.info-box a {
  text-decoration: none;
  color: white;
}

.section-one {
  width: 100%;
  height: 120px;
  position: relative;
  background-color: lightgrey;
}

.box-section-one {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.box-section-one h2 {
  text-align: center;
}

.section-two {
  width: 80%;
  /* height: 600px; */
  margin: auto;
}

.top-left-box {
  height: 100%;
  width: 33.33333%;
  text-align: center;
  padding: 0 25px;
}

.top-left-box img {
width: 35%;
margin-top: 30px;
margin-bottom: 30px;
}

.top-left-box h2 {
  margin-bottom: 30px;
}

.top-left-box hr {
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.top-middle-box {
  height: 100%;
  width: 33.33333%;
  text-align: center;
  padding: 0 25px;
}

.top-middle-box img {
width: 60%;
margin-top: 30px;
margin-bottom: 30px;
}

.top-middle-box h2 {
  margin-bottom: 30px;
}

.top-middle-box hr {
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.top-right-box {
  height: 100%;
  width: 33.33333%;
  text-align: center;
  padding: 0 25px;
}

.top-right-box img {
width: 42%;
margin-top: 30px;
margin-bottom: 30px;
}

.top-right-box h2 {
  margin-bottom: 30px;
}

.top-right-box hr {
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.section-three {
  width: 80%;
  height: 500px;
  margin: auto;
}

.bottom-left-box img {
  width: 100%;
}

.bottom-left-box {
  height: 100%;
  width: 50%;
}
.bottom-right-box {
  height: 100%;
  width: 50%;
  padding-right: 200px;
  padding-top: 50px;
}

.bottom-right-box h2 {
  padding-bottom: 20px;
  line-height: 30px;
}

.bottom-right-box p {
  padding-bottom: 20px;

}

.section-four {
  height: 120px;
  width: 100%;
  background-color: grey;
}

.section-four-left {
  height: 120px;
  width: 50%;
  line-height: 120px;
}

.section-four-right {
  height: 120px;
  width: 50%;
  line-height: 120px;
}

.section-four-right span {
  margin: 0 20px;
}

.section-four-right .stage {
  margin: 0 20px;
}
